name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)

trigger:
  branches:
    include:
      - master
      - feat/*
      - test/*
  paths:
    exclude:
      - 'SportsData.Api/*'
      - 'SportsData.Contest/*'
      - 'SportsData.Core/*'
      - 'SportsData.Franchise/*'
      - 'SportsData.Notification/*'
      - 'SportsData.Player/*'
      - 'SportsData.Producer/*'
      - 'SportsData.Provider/*'
      - 'SportsData.Season/*'
      - 'SportsData.Venue/*'
      - 'src/UI/**'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - script: |
      echo "Hello from '/' root folder." > /dev/null 2>&1 || echo "Pipeline triggered"
    displayName: 'Pipeline Root Check'
    continueOnError: true
