{
  "expo": {
    "name": "SportDeets",
    "icon": "./assets/images/icon.png",
    "splash": {
      "image": "./assets/images/splash-icon.png",
      "resizeMode": "contain",
      "backgroundColor": "#0d1117"
    },
    "ios": { "icon": "./assets/images/icon.png" },
    "android": {
      "adaptiveIcon": {
        "foregroundImage": "./assets/images/android-icon-foreground.png",
        "backgroundColor": "#0d1117"
      }
    },
    "web": { "favicon": "./assets/images/favicon.png" }
  }
}
