{
  "expo": {
    "name": "sportDeets",
    "icon": "./assets/icon.png",
    "splash": {
      "image": "./assets/splash-icon.png",
      "resizeMode": "contain",
      "backgroundColor": "#0d1117"
    },
    "ios": { "icon": "./assets/icon.png" },
    "android": {
      "adaptiveIcon": {
        "foregroundImage": "./assets/adaptive-icon-foreground.png",
        "backgroundColor": "#0d1117"
      }
    },
    "web": { "favicon": "./assets/favicon-48.png" }
  }
}
