.submit-button {
  display: block;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-color: #61dafb;
  color: #000;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0.5rem;
  transition: background-color 0.2s ease;
  text-align: center;
}

.submit-button:hover {
  background-color: #21a1f1;
}
