trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'src/SportsData.Api/**'
      - 'src/SportsData.Core/**'

pr:
  branches:
    include:
      - main
  paths:
    include:
      - 'src/SportsData.Api/**'
      - 'src/SportsData.Core/**'

# Centralized agent and demand config for all stages/jobs
pool:
  name: Default
  demands:
    - Agent.Name -equals Bender

resources:
  - repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '805d6790-3b89-43f4-8551-f1a6b1c8f2f0'
  imageRepository: 'sportsdataapi'
  containerRegistry: 'sportdeets.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/src/DockerfileApi'
  tag: '$(Build.BuildId)'

  # Build Solution Vars
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  Major: '0'
  Minor: '0'
  Patch: '1'
  PackageVersion: '0.0.1'

  # Deploy Vars
  azureSubscription: 'dev-sports-data-api-svc-conn'
  appName: 'api-public-dev'

stages:
  - stage: BuildAndTest
    displayName: 'Build & Test: API'
    jobs:
      - job: BuildAndTest
        displayName: 'Build & Test: API'
        steps:
          - task: UseDotNet@2
            displayName: 'Use .NET 10 SDK'
            inputs:
              packageType: 'sdk'
              version: '10.0.x'
              includePreviewVersions: true

          - task: NuGetCommand@2
            displayName: 'NuGet Restore'
            inputs:
              command: 'restore'
              restoreSolution: '**/sports-data-api.sln'
              feedsToUse: 'select'
              vstsFeed: '2bb0cd0d-fa6e-42f0-9b7e-9cc1ce065e55/de94ed5a-8390-4547-bdd9-f975a712aa70'

          - task: MSBuild@1
            displayName: 'Build sports-data-api solution'
            inputs:
              solution: '**/sports-data-api.sln'
              msbuildArchitecture: 'x64'
              clean: true
              platform: '$(buildPlatform)'
              configuration: '$(buildConfiguration)'
              msbuildArguments: '/t:Restore'

          - task: DotNetCoreCLI@2
            displayName: 'Run Unit Tests'
            inputs:
              command: 'test'
              projects: '**/SportsData.Api.Tests.Unit.csproj'
              arguments: '--no-build --collect:"XPlat Code Coverage"'
              publishTestResults: true
              testRunTitle: 'api-tests-unit'
            continueOnError: false

          - task: PublishCodeCoverageResults@2
            displayName: 'Publish Code Coverage'
            inputs:
              summaryFileLocation: '$(Agent.TempDirectory)/**/coverage.cobertura.xml'
              failIfCoverageEmpty: false

  - stage: BuildImagePushACR
    displayName: 'Build Image & Push to ACR'
    dependsOn: BuildAndTest
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - job: BuildImage
        displayName: 'Build and Push Image'
        steps:
          - task: Docker@2
            displayName: 'Build & Push'
            inputs:
              command: buildAndPush
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)
              latest
